services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --web.enable-remote-write-receiver
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      # datasource / dashboard provisioning
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      # dashboard jsons
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
      # grafana data persistence (선택)
      - grafana-data:/var/lib/grafana

volumes:
  grafana-data:
